[Unit]
Description=Cursor My Machines worker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=@WORKER_USER@
Group=@WORKER_USER@
WorkingDirectory=@INSTALL_DIR@
Environment=HOME=/home/@WORKER_USER@
Environment=PATH=/home/@WORKER_USER@/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=@AGENT_BIN@ worker start --name @WORKER_NAME@ --worker-dir @INSTALL_DIR@
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
